
  <div id="main">
    <nav class="navbar fixed-top navbar-toggleable-md navbar-dark z-depth-4" style="position: unset;"> 
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand smoothscroll" href="#principal">
                <svg style="margin-top: -40%; margin-bottom: -42%;" class="mr-auto" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-stroke">
                  <text x="50" y="50" text-anchor="middle" dy="0.38em" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke="#fff" stroke-width="0.6" font-size="20" font-family="arial">Baran
                    <animate attributeName="stroke-dasharray" calcMode="spline" values="0 100;100 100;0 100" keyTimes="0;0.5;1" dur="8.5" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" begin="0s" repeatCount="indefinite"></animate>
                    <animate attributeName="stroke-dashoffset" calcMode="linear" values="0;0;-100" keyTimes="0;0.5;1" dur="8.5" begin="0s" repeatCount="indefinite"></animate></text>
              </svg>
            </a>
            <div class="collapse navbar-collapse" id="navBar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link smoothscroll" href="#about"><i class="material-icons" style="vertical-align: middle;">&#xE87C;</i> About me<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smoothscroll" href="#portfolio"><i class="material-icons" style="vertical-align: middle;">&#xEB44;</i> My portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smoothscroll" href="#contact"><i class="material-icons" style="vertical-align: middle;">&#xEB3D;</i> Contact me!</a>
                    </li>
                </ul>
            </div>
        </div>
      </nav>
    <section id="principal" class="pt-4 z-depth-3">
      <div id="particles-js"></div>
      <video class="video-fluid" autoplay="" loop="">
        <source src="http://rioroodfk.com/media/videos/v3.mp4" type="video/mp4">
      </video>
    </section>
    <section id="about" class="pb-4">
      <div class="container">
        <div class="card z-depth-4">
          <div class="card-block">
            <h1 class="card-title">"I am who I am"</h1>
            <h6 class="card-subtitle mb-2 text-muted pl-5">- Exodus 3,14</h6>
            <div class="row pb-2">
              <div class="col-12 col-sm-3">
                <img src="http://uupload.ir/files/oqec_photo_2018-06-05_15-26-07.jpg" alt="" class="img-fluid z-depth-2 d-block m-auto">
              </div>
              <div class="col-12 col-sm-9">
                <ul>
                  <li>
                    <div class="row">
                      <div class="col-md-4 col-lg-3">
                        <h4 class="d-inline">Name: </h4>
                      </div>
                      <div class="col-md-8">
                        <p class="d-inline">Sobhan</p>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4 col-lg-3">
                          <h4 class="d-inline">Family: </h4>
                        </div>
                        <div class="col-md-8">
                          <p class="d-inline">Mozafari</p>
                        </div>
                     </div>
                     <br>
                     <div class="row">
                        <div class="col-md-4 col-lg-3">
                          <h4 class="d-inline">Email: </h4>
                        </div>
                        <div class="col-md-8">
                          <p class="d-inline">sobhan.plus.plus@gmail.com</p>
                        </div>
                     </div>
<br>
                     <div class="row">
                        <div class="col-md-4 col-lg-3">
                          <h4 class="d-inline">Telegram: </h4>
                        </div>
                        <div class="col-md-8">
                          <p class="d-inline">https://t.me/S_22_m</p>
                        </div>
                     </div>
                     <br>

                  </li>
                  <li>
                    
                </ul>
              </div>
            </div>
            <div class="personal-sm">
                <a id="FCC" href="" style="color: #006400;"><i class="fa fa-free-code-camp fa-lg"></i> &nbsp;</a>
                <a id="GH" href="" style="color: #24292E;"> <i class="fa fa-github fa-lg"></i> &nbsp;</a>
                <a id="CP" href="https://codepen.io/LeonSilva/" style="color: grey;"> <i class="fa fa-codepen fa-lg"></i> &nbsp;</a>
                <a href="#contact" style="color: #000;"> <i class="fa fa-envelope-o fa-lg"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="portfolio" class="pt-5 pb-3 z-depth-3">
      <h1 class="text-center white-text"> - Recent projects - </h1>
      <div class="container">
        <hr>
        <div class="row">
          <div class="col-12 col-md-6"><a href="http://rioroodfk.com" target="_blank"><img class="img-fluid mt-1" src="http://rioroodfk.com/media/logos/riorood-2.png" alt="Rio Rood FK"></a></div>
          <div class="col-12 col-md-6"><a href="http://betalent.mx" target="_blank"><img class="img-fluid" src="http://betalent.mx/img/logo.png" alt="Betalent"></a></div>
          <div class="col-12 col-md-6 offset-md-3"><a href="http://sambarsystems.com" target="_blank"><img class="img-fluid" src="http://sambarsystems.com/media/logos/sambar 1.png" alt="Sambar Systems"></a></div>
        </div>
      </div>
    </section>
   <section id="contact" class="pt-5 pb-5">
      <div class="container z-depth-4 pb-3">
        <div class="card mt-4 mb-2">
            <div class="card-block">
                
            </div>
        </div>
      </div>
    </section>
 <footer>
      <h5 class="text-center"><p class="text-white d-inline"> Copyright <i class="fa fa-copyright d-inline" aria-hidden="true"></i> 2017 by <a class="text-white" href="https://codepen.io/LeonSilva/">León Silva</a></p>
</h5>
    </footer> 
  </div>